@import './reset-css.scss';
@import './custom-fonts.scss';
@import './flex-layout.scss';
body {
    margin: 0;
    font-family: 'Hind', 'PlayfairDisplay', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-color: #ffffff;
}

#app,
#app-container,
#login-container,
#profile-container,
#events-page {
    min-height: 100vh;
}

#events-page {
    background-color: #f9f9fb;
}

#events-page .events-subpage {
    margin: 0px 120px;
}

.events-subpage .header h2 {
    font-family: Hind;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 1px;
    color: #a9aeb4;
}

#events-page .events-subpage-loading {
    // margin: 0px 120px;
    text-align: center;
}

.close-create-event {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 32px;
    color: #323c46;
    right: 50px;
    width: 200px;
    background-color: #f9f9fb;
}

.back-events-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 32px;
    left: 45%;
    color: #323c46;
}

.back-events-link span,
.close-create-event span {
    font-family: Hind;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: normal;
    color: #323c46;
    margin-left: 8px;
}

/*
*   Login Register Page Starts
*/


.sign-container {
    height: 100vh;
}

.mobile-logo {
    display: none;
}

.banner {
    background-image: url(../images/bvwd-zx-6-zk-saksham-gangwar.jpg);
    background-color: #222;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.banner .logo {
    top: 40px;
    left: 60px;
    position: relative;
}

.banner .qoutes {
    margin-bottom: 80px;
}

.banner .qoutes .title {
    font-family: PlayfairDisplay;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    color: var(--white);
    padding-bottom: 20px
}

.banner .qoutes .line {
    width: 12px;
    height: 2px;
    background-color: #1be38b;
}

.banner .qoutes .author {
    padding-top: 15px;
    font-family: Hind;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #949ea8;
}

.sign-container .content .signup-router {
    position: absolute;
    float: right;
    top: 40px;
    right: 40px;
    font-family: Hind;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #c9ced3;
}

.sign-container .content .signup-router .link {
    font-weight: 500;
    color: #949ea8;
}

.sign-container .content .login-card {
    max-width: 480px;
    width: 480px;
}

.sign-container .content .login-card .header {
    font-family: Hind;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #323c46;
}

.sign-container .content .login-card .notification {
    font-family: Hind;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #949ea8;
}

.sign-container .content .login-card .notification.alert {
    color: #fc226e;
}

.form-group {
    margin: 10px 0px;
}

.sign-container .content .login-card .forgot-router {
    padding-top: 10px;
}

.sign-container .content .login-card .forgot-router .link {
    font-family: Hind;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #ccd0d9;
}

.btn-submit {
    width: 240px;
    height: 57px;
    border-radius: 4px;
    background-color: #22d486;
    border: none;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #20bd78;
}

.btn-submit span {
    font-family: Hind;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}

.btn-link {
    width: 240px;
    height: 57px;
    border-radius: 4px;
    background-color: #22d486;
}

.btn-link .link {
    font-family: Hind;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}

.btn-delete-event {
    color: #ff4081 !important;
}

.btn-delete-event svg {
    width: .8em;
}

.btn-delete-event span {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ff4081;
}

.btn-delete-event:hover span{
    text-decoration: underline;
}

/*
*   Login Register Page Ends
*/

/*
*   HEADER CSS
*/

.header-container {
    // background: gray;
    padding: 30px 40px;
}

.user-button-container .circle {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #d9dce1;
    color: #949ea8;
    margin: 0px 8px;
}

.user-button-container .username {
    font-family: Hind;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: right;
    color: #949ea8;
}

/*
* EVENT PAGE
*/

#event-container .tab-container {
    margin: 0 120px;
}

.list-event-container .layout-buttons{
    margin-top: -50px;
    display: flex;
    justify-content: flex-end;
}
.list-event-container .all-events {
    margin-top: 30px;
}

/*
** EVENT CARD
*/
.all-events {
    transition: all 1s ease-in-out;
}

.all-events.grid-view>a {
    max-width: 400px;
}

.all-events.grid-view {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: auto;
    transform: translateY(10px);
}

.all-events.grid-view .event-card {
    height: 300px;
    width: 300px;
}

.all-events.grid-view .event-card .description {
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
}

.all-events.flex-view .event-card {
    flex-direction: row !important;
}

.event-card {
    // max-width: 390px;
    // max-height: 300px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    margin: 15px;
    padding: 30px;
}

.event-card.extended {
    margin: 15px 0px;
}

.event-card:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

.event-card .date {
    font-family: Hind;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #cacdd0;
}

.event-card .title {
    font-family: Hind;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.18;
    letter-spacing: normal;
    color: #323c46;
    margin-top: 10px;
}

.event-card.extended .title {
    font-size: 45px;
    line-height: 1.07;
    color: #323c46;
    margin-top: 15px;
}

.event-card .owner {
    font-family: Hind;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #7d7878;
    margin-top: -15px;
}

.event-card.extended .owner {
    margin-top: 0;
}

.event-card .description {
    font-family: Hind;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #949ea8;
    margin-top: 30px;
}

.event-card .buttons {
    margin-top: 50px;
}

.event-card .buttons .attendees {
    font-family: Hind;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #949ea8;
}

.all-events.flex-view .event-card {
    padding: 20px 30px;
    align-items: center;
    margin: 20px 0px;
}

.all-events.flex-view .event-card .date {
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.71;
    color: #cacdd0;
    order: 4;
    flex-grow: 1;
}

.all-events.flex-view .event-card .title {
    margin-top: 0px;
    font-size: 18px;
    line-height: 2.67;
    color: #323c46;
    order: 1;
    flex-grow: 1;
    width: 250px;
    margin-top: 0;
}

.event-card .title span {
    padding: 5px;
}

.all-events.flex-view .event-card .owner {
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.71;
    color: #7d7878;
    order: 3;
    flex-grow: 1;
}

.all-events.flex-view .event-card .description {
    margin-top: 0px;
    width: 240px;
    font-size: 16px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #949ea8;
    order: 2;
    flex-grow: 1;
}

.all-events.flex-view .event-card .buttons {
    margin-top: 0px;
    order: 5;
    flex-grow: 1;
}

.all-events.flex-view .event-card .buttons .attendees {
    font-size: 14px;
    line-height: 1.71;
    color: #949ea8;
}

.event-card.attendees-card {
    min-height: 255px;
    padding: 25px 25px;
}

.attendees-card .title {
    font-family: Hind;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #323c46;
}

.attendees-card .list {
    margin-top: 20px;
    display: flex; // justify-content: center;
    flex-flow: row wrap;
    height: auto;
}

.attendees-card .list span {
    color: #949ea8;
}

.attendees-card .list li {
    font-family: Hind;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.38;
    letter-spacing: normal;
    text-align: center;
    color: #949ea8;
    background-color: #d9dce1;
    padding: 0px 10px;
    list-style: none;
    border-radius: 100px;
    margin: 5px;
}

.attendees-card .list li.you {
    border-radius: 100px;
    border: solid 2px #d9dce1;
    background-color: #ffffff;
}

.btn-event {
    width: 100px;
    height: 32px;
    border-radius: 4px;
    font-family: Hind;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-event.btn-edit {
    background-color: #d9dce1;
    color: #a9aeb4;
}

.btn-event.btn-event.btn-edit:hover {
    background-color: #c4c9d1;
}

.btn-event.btn-leave {
    color: #ffffff;
    background-color: #ff4081;
}

.btn-event.btn-event.btn-leave:hover {
    background-color: #e73370;
}

.btn-event.btn-join {
    background-color: #22d486;
    color: #ffffff;
}

.btn-event.btn-event.btn-join:hover {
    background-color: #20bd78;
}

.list-grid-view {
    color: #d9dce1
}

.list-grid-view.selected {
    color: #323c46;
}

/*
*   NO MATCH 
*/

.nomatch-backimage {
    width: 400px;
    height: 400px;
    left: 25%;
    top: 20%;
    position: absolute;
    opacity: 0.1;
    z-index: -1;
}

.nomatch-card .header {
    font-family: Hind;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #323c46;
}

.nomatch-card .notification {
    margin-top: 5px;
    font-family: Hind;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #949ea8;
}

.nomatch-card button {
    margin-top: 40px;
    width: 240px;
    height: 57px;
    border-radius: 4px;
    background-color: #323c46;
    cursor: pointer;
}

.nomatch-card button span {
    font-family: Hind;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}

.action-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

/*
** CREATE EVENT 
*/

.event-card.create-card {
    width: 450px;
    text-align: center;
    color: #222;
    padding: 40px 30px;
}

.create-card .title {
    font-family: Hind;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #323c46;
}

.create-card .subtitle {
    font-family: Hind;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #949ea8;
}

.create-card .btn-submit span {
    font-family: Hind;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}

.mobile-events-tabs {
    display: none !important;
}

/*
*   PROFILE 
*/
#profile-container {
    background-color: #f9f9fb;
}

#profile-container section {
    margin: 0px 120px;
    margin-top: 40px;
}

.user-card .logo {
    width: 120px;
    height: 120px;
    background-color: #d9dce1;
    border-radius: 100px;
    margin-top: -90px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.user-card .logo span {
    color: #949ea8;
    font-size: 46px;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

.user-card .name {
    font-family: Hind;
    font-size: 18px;
    line-height: 2.67;
    color: #323c46;
    text-transform: capitalize;
}

.user-card .email {
    font-family: Hind;
    font-size: 14px;
    line-height: 1.71;
    color: #949ea8;
}

.user-events h1 {
    font-family: Hind;
    font-size: 28px;
    line-height: 1.71;
    color: #323c46;
}


@media only screen and (max-width: 767px) {
    /*
    * LOGIN REGISTER
    */

    .mobile-logo {
        display: block;
        position: fixed;
        top: 25px;
        left: 25px;
    }

    .banner {
        display: none !important;
    }

    .sign-container .content .signup-router {
        position: initial !important;
        margin-top: 16px;
    }
    .sign-container .content .login-card {
        margin: 0px 24px;
        width: auto;
        padding: 0 !important;
        min-width: 300px !important;
        text-align: center;
    }
    .sign-container .content .login-card .header {
        font-size: 28px;
        line-height: 1.71;
        letter-spacing: normal;
        color: #323c46;
    }

    .sign-container .content .login-card .notification {
        font-size: 14px;
        line-height: 1.71;
        text-align: center;
        color: #949ea8;
    }

    .sign-container .content .login-card form {
        margin-top: 20px;
    }
    .sign-container .content .login-card .form-group .btn-submit {
        margin-top: 40px;
    }


    .login-card.register-card {
        margin-top: 40px;
    }

    .login-card.register-card form {
        margin: 0px !important;
    }

    .login-card.register-card form .form-group {
        margin-top: 10px !important;
    }

    /*
    * NO MATCH 
    */

    .nomatch-card {
        display: flex;
        align-items: center;
    }
    
    /*
    *   HEADER 
    */
    .header-container {
        padding: 30px 24px;
    }
    .user-button-container {
        margin-right: -18px;
    }
    .user-button-container .circle {
        margin: 0px;
        text-transform: uppercase;
    }
    .user-button-container .username {
        display: none;
    }
    /*
    * EVENT TABS
    */
    .events-tabs {
        display: none !important;
        background: red;
    }
    .mobile-events-tabs {
        padding: 0px 16px;
        display: inline-block !important;
    }
    .mobile-events-tabs .show {
        font-family: Hind;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 1px;
        color: #a9aeb4;
    }
    /* EVENT PAGE */
    #events-page .events-subpage {
        margin: 0px;
    }
    .event-card {
        margin: 30px 0px;
        margin-bottom: 0px;
        margin: 8px !important;
    }
    .all-events.flex-view .event-card {
        padding: 15px 20px;
        align-items: normal;
        flex-direction: column !important;
    }
    .all-events.flex-view .event-card .owner {
        visibility: hidden;
    }
    .events-subpage .header {
        margin: 0px 16px;
    }
    .events-subpage .header h2 {
        width: 100px;
    }
    .events-subpage .content {
        flex-direction: column !important;
    }
    .event-card.attendees-card {
        margin: 10px 0px;
    }
    .event-card.create-card {
        text-align: center;
        color: #222;
        padding: 15px;
        min-width: 300px;
        width: auto;
    }

    /* PROFILE */
    #profile-container section {
        margin: 8px !important;
        margin-top: 30px !important;
    }

    .event-card.user-card {
        margin: 0px 16px !important;
    }

    .user-events h1 {
        margin-left: 16px;
    }

    /* BUTTONS */
    
    .back-events-link {
        display: none !important;
    }
    .action-button {
        right: 30px;
        position: initial;
        bottom: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: flex-end;
    }
    .btn-delete-event {
        margin-right: -20px;
    }
    .btn-delete-event span.title {
        visibility: hidden;
        display: none;
    }

    .close-create-event {
        top: 29px;
        color: #323c46;
        right: 0px;
        width: 100px;
        background-color: #f9f9fb;
        height: 50px;
    }

    .close-create-event svg {
        width: 1.3em;
        height: 1.3em;
    }
    .close-create-event span {
        display: none !important;
    }


}